.v-list-container {
  flex: 1;
  overflow-x: hidden;
  // 使得超出高度时可以滚动
  overflow: auto;
  position: relative;
  overscroll-behavior: none;
//   box-sizing: border-box; // 绝对定位时无效

  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
  }

  &::-webkit-scrollbar-thumb {
      background: #404040;
      border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #404040;
  }
}

.v-list-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  overflow-y: auto;
}