
// 侧栏宽度
$--side-bar-width: 300px;

.home {
  width: 90vw;
  height: 90vh;
  display: flex;
  overflow: hidden;
  min-width: 600px;
  min-height: 370px;
  max-width: 1200px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  border: 1px solid hsla(0,0%,100%,.192);
}

.home-side-bar-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: $--side-bar-width;
  background-color: #1b262a;
  justify-content: space-around;
}

.home-chat-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: calc(100% - $--side-bar-width);
}