.home {
  width: var(--full-weight);
  height: var(--full-height);
  display: flex;
  overflow: hidden;
  min-width: 600px;
  min-height: 370px;
  max-width: 1200px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  background-color: var(--white);
  border: var(--border-in-light);

  &.full-screen {
    --full-weight: 100vw;
    --full-height: 100vh;

    max-width: 100vw;
    border-radius: 0;
  }
}

.home-side-bar-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: var(--side-bar-width);
  background-color: var(--second);
  justify-content: space-around;
}

.home-chat-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--side-bar-width));
}