.action-button {
  color: var(--black);
  padding: 10px;
  display: flex;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: all .3s ease;
  background-color: var(--white);
  border: var(--border-in-light);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &:hover {
    border: 1px solid var(--primary);
  }
}